DB_URL="mongodb://localhost:27017/data"

R2_BUCKET_NAME="campaigners-images"
R2_ACCOUNT_ID="36157874c7be2bd1b67c837b65e8b034"
R2_ACCESS_KEY_ID="7b1180de93e596c8ba8ee9d378a7c643"
R2_SECRET_ACCESS_KEY="b368fb9d283b00a326b831295ed214a49c0ea321fe1da1a00bc291301649aaf7"
R2_PUBLIC_URL="https://pub-f62a54aab54448388c9e16334109aea9.r2.dev"
PORT=2345

GCS_PROJECT_ID=""
GCS_BUCKET_NAME=""
GCS_CREDENTIALS=''

RAZORPAY_API_KEY=""
RAZORPAY_KEY_SECRET=""
RAZORPAY_WEBHOOK_SECRET=""

JWT_SECRET=""

FLAXXA_TOKEN=""

DCC_API_KEY=""
DCC_API=""
